body{
    background-color: aliceblue;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar_elements{
    display: flex;
    gap: 20px;
    align-items: center;
}
.landing{
    display: flex;
    margin: 7% 10%;
}
.landing1a{
    width: 50%;
}
.landing>.img1{
    width: 40%;
    display: flex;
    justify-content: center;
}
.landing2a{
    display: flex;
    column-gap: 20px;
}
.landing2a>button{
    background-color: bisque;
    border-radius: 10px;
    font-weight:bold;
    box-shadow: 5px 10px 10px black;
    font-size: 15px;
    padding: 5px 10px;
}
.landing1a{
    font-size:40px;
    color: rgb(6, 21, 2);
}
p{
    display: block;
    font-size: 25px;
    color: rgb(6, 21, 2);
}
.introduce{
    margin: 5px 500px;
    align-items: center;
}
.introduce>h1{
    font-size: 60px;
    color: rgb(19, 69, 9);
}
.introduce>button{
    background-color: bisque;
    border-radius: 10px;
    font-weight:bold;
    box-shadow: 5px 10px 10px black;
    font-size: 15px;
    padding: 5px 10px;
}
.L{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 10%;
    gap: 10%;
}
.L>.L1{
    margin-right: 450px;
    margin-left: 150px;
    width: 50%;
}
.L1>h1{
    font-size: 55px;
}
.L1>p{
    font-size: 25px;
}
.L2 {
    display: flex;
    margin-top: 10px;
}
.L21{
    margin-right: 50px;
}
.L22{
    margin-left: 30px;
}
.R{
    display: flex;
    gap: 30%;
}
.T{
    display: flex;
    gap: 30%;
    margin-top: 10%;
}
.C{
    display: flex;
    align-items: center;
    margin-top: 10%;
}
.conform{
    /* margin-right: 30%; */
}
.form{
    margin-right: 20%;
    padding: 70px 80px;
}
#name{
    border: none;
    border-radius: 10px;
    background-color:rgb(180, 173, 173);
    padding: 10px 200px 10px 10px;
    margin-top: 3%;
}
#email{
    border: none;
    border-radius: 10px;
    background-color: rgb(180, 173, 173);
    padding: 10px 200px 10px 10px;
    margin-top: 3%;
}
#message{
    border: none;
    border-radius: 10px;
    background-color:rgb(180, 173, 173);
    padding: 10px 150px 10px 10px;
    margin-top: 3%;
}
.navbar_elements>a{
    text-decoration: none;
}
a{
    color: rgb(9, 21, 103);
    font-weight: bold;
    font-size: 30px;
}
.b{
    background-color: bisque;
    border-radius: 10px;
    font-weight:bold;
    box-shadow: 5px 10px 10px black;
    font-size: 15px;
    padding: 5px 10px;
}